@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);

h1, h2, h3, h4, .h1, .h2, .h3, .main-title, .main-subtitle {
  font-family: Lato;
  font-weight: normal;
  color: #241453;
}

a {
    color: #63339b;
    text-decoration: none;
}

a:hover {
  color: #de55f4;
}